body.ngdialog-open {
  overflow-y:scroll;
}

.ngdialog.ngdialog-theme-report-chart .ngdialog-content {
  width: 900px;
  padding: 2em 1em 2em 3em;
}

.ngdialog.ngdialog-theme-report-chart .ngdialog-content > div{
  width: 800px;
}
